<template> 
    <div>
        <!-- <v-data-table item-key="name" class="elevation-1" loading="loading" loading-text="Loading... Please wait"></v-data-table> -->

        <v-data-table style="cursor: pointer" item-key="id" :items="todos" :headers="headers" class="elevation-1" @click:row="selectTodo">
            <template v-slot:item.state="{ item }">
            <v-tooltip left>
                <template v-slot:activator="{ on }">
                <div :class="lights(item)" v-on="on"></div>
                </template>
                <span>Tooltip</span>
            </v-tooltip>
            </template>
        </v-data-table>
    </div>
</template>
<script>
export default {
    data() {
        return {
            name: '',
            loading: false,
            headers: [
                {text: 'Id', value: 'id'},
                {text: 'Name', value: 'name'},
            ]
        }
    },
    props: [
        'todos'
    ],
    methods: {
        selectTodo (item) {
            this.$emit('selected', item.id)
        },
    },

}
</script>