<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://firebase.google.com/downloads/brand-guidelines/SVG/logo-logomark.svg?hl=es"
          transition="scale-transition"
          width="40"
        />
      </div>
      <v-toolbar-title>{{ appName }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn
        href="https://gitlab.com/firestore1/todo"
        target="_blank"
        text
      >
        <span class="mr-2">GitLab Code</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-row>
            <v-col class="d-flex justify-start">

            </v-col>
            <v-col class="d-flex justify-end">
                <v-btn class="mx-2" fab dark color="indigo" @click="createDialog()">
                    <v-icon dark>mdi-plus</v-icon>
                </v-btn>
            </v-col>
      </v-row>
      <DataTable v-bind:todos="todos" @selected="editTodo" />
      <v-template>
          <div>
              <v-dialog v-model="dialog" max-width="400">
                  <v-card>
                      <v-card-title>{{ titleForm }}</v-card-title>
                      <v-card-text>
                          <form>
                              <v-text-field
                              v-model="name"
                              :error-messages="nameErrors"
                              :counter="4"
                              label="Name"
                              required
                              @input="$v.name.$touch()"
                              @blur="$v.name.$touch()"
                              ></v-text-field>
                              <v-btn v-if="titleForm === 'Create Todo'" class="mr-4" @click="submit">Create Todo</v-btn>
                              <v-btn v-if="titleForm === 'Edit Todo'" class="mr-4" @click="update">Update Todo</v-btn>
                              <v-btn v-if="titleForm === 'Edit Todo'" class="mr-4" @click="deleteDoc">Delete Todo</v-btn>
                          </form>
                      </v-card-text>
                  </v-card>
              </v-dialog>
          </div>
      </v-template>
      <v-template>
        <v-snackbar
          v-model="snackbar"
        >
          {{ text }}
          <v-btn
            color="pink"
            text
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </v-snackbar>
      </v-template>
    </v-content>
  </v-app>
</template>

<script>
import DataTable from './components/DataTable';
import firebase from 'firebase'
import { validationMixin } from 'vuelidate'
import { required, maxLength } from 'vuelidate/lib/validators'

export default {
  components: {
    DataTable
  },

  data: () => ({
    appName: 'Todos Firestore',

    // Form props
    titleForm: '',
    name: '',
    dialog: false,

    // Snacbar props
    snackbar: false,
    text: '',

    // DataTable data & props
    headers: {name},
    todos: [],
    idTodo: ''
  }),
  created() {
    this.read()
  },
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(10) },
  },
  computed: {
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.maxLength && errors.push('Name must be at most 10 characters long')
      !this.$v.name.required && errors.push('Name is required.')
      return errors
    },
  },
  methods: {
    // Dialog and Form 

    createDialog() {
      this.titleForm = 'Create Todo'
      this.name = ''
      this.dialog = !this.dialog
    },
    submit () {
        this.$v.$touch()
        this.dialog = !this.dialog
        if(this.titleForm === 'Create Todo') {
          this.create()
        }
        this.clear()
    },
    clear () {
        this.$v.$reset()
        this.name = ''
    },
    editTodo(id) {
      this.titleForm = 'Edit Todo'

      const docRef = firebase.firestore().collection('crud').doc(id)
      docRef.onSnapshot(ref => {
        this.idTodo = ref.id
        this.name = ref.data().name
      }),
      this.dialog = !this.dialog
    },



    // CRUD  Firebase
    create() {
      const value = this.name
      firebase.firestore().collection('crud').add({name: value})
      .then(() => {
        this.text = `Created Succesfully`
        this.snackbar = !this.snackbar
      })
      .catch((err) => {
        this.text = `Error: ${err}`
        this.snackbar = !this.snackbar
      })
    },
    read() {
      firebase.firestore().collection('crud').onSnapshot(ref => {
            ref.docChanges().forEach(change => {
            // const { newIndex, doc, type } = change;
            const {doc, type, newIndex, oldIndex} = change;
            const data = doc.data();
            const id = doc.id;

            if (type === 'added') {
                this.todos.splice(newIndex, 0, {id, ...data})
                // if we want to handle references we would do it here
            } else if (type === 'modified') {
                // remove the old one first
                this.todos.splice(oldIndex, 1)
                // if we want to handle references we would have to unsubscribe
                // from old references' listeners and subscribe to the new ones
                this.todos.splice(newIndex, 0, {id, ...data})
            } else if (type === 'removed') {
                this.todos.splice(oldIndex, 1)
                // if we want to handle references we need to unsubscribe
                // from old references
            } 
          })
      })
    },
    update() {
      const value = this.name
      firebase.firestore().collection('crud').doc(this.idTodo).set({name: value})
      .then(() => {
        this.dialog = !this.dialog
        this.clear()
        this.text = 'Update Succesfully'
        this.snackbar = !this.snackbar
      })
      .catch((err) => {
        this.dialog = !this.dialog
        this.clear()
        this.text = `Error: ${err}`
        this.snackbar = !this.snackbar
      })
    },
    deleteDoc() {
      firebase.firestore().collection('crud').doc(this.idTodo).delete()
      .then(() => {
        this.dialog = !this.dialog
        this.clear()
        this.text = 'Delete Succesfully'
        this.snackbar = !this.snackbar
      })
      .catch((err) => {
        this.dialog = !this.dialog
        this.clear()
        this.text = `Error: ${err}`
        this.snackbar = !this.snackbar
      })
    }
  }
};
</script>
